extends ../_layout

block content
    h2 Prizes

    div 
        h3 Overall Prizes
        ul
          li TAG Heuer connected watch
          li Copy of FIFA and a games console
          li Nike manager jacket

    div
        h3 Monthly Prizes
        ul
          li Tablet computer
          li Bluetooth speaker
          li Tablet computer
          li TAG Heuer connected watch

    div 
        h3 Weekly Prizes
        ul
          li FPL rucksack
          li TAG Heuer connected watch
          li FPL mug
          li Nike manager jacket

    div 
        h3 FPL Cup Winner 2016/17
        ul
          li Nike manager jacket
          li FPL mug
          li TAG Heuer connected watch
          li FPL T-shirt, stress ball, pen, pad and key ring