<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        block app-title
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
body
    include header

    <div id="head" class="jumbotron">
        <h1>Football Manager</h1>
            <p class="lead">Football Manager is a web application for football clubs, their players and managers around Europe.</p>
    </div>
    <div id="entries" class="row">
        <div class="col-md-4">
            <p>
                <a id="bPlayers" class="btn btn-default" href="/footballPlayers">View Players &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <a id="bTeams" class="btn btn-default" href="/teams">View Teams &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <a id="bCoaches" class="btn btn-default" href="/coaches">View Coaches &raquo;</a>
            </p>
        </div>
    </div>
    <div id="content"></div>
    <div id="grid"></div>
    <div id="pager"></div>
    block content
    .container
        include flash
    include footer

    