<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='csrf-token', content=_csrf)
        title
            block app-title
        link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    body
        include header

        .container
            include flash
            block content

        include footer

    