extends _layout

block content
    h1 Player Details 
            br
            p= result.name
            p= result.age
            p= result.team
            a.btn.btn-default(href="/editPlayer") Edit Player Details