extends _layout

block content
    h1 Players 
        br
        a.btn.btn-default(href="/footballPlayers/create") Add Player 
        br
        each player in result
            a(href="/footballPlayers/" + player.name)= player.name
            br