extends _layout

block content
    h1 Football Manager
    p.lead Football Manager is a web application for football clubs, their players and managers around Europe.
    hr
    .row
        .col-sm-4
            h2 GamePlay
            p Once in, you take charge of your own team, buy and sell players, train your players to improve in the areas you wish to focus on, send them off on training-camps so that you can focus on upgrading your own stadium.
            p
                a.btn.btn-default(href='#', role='button') View details »
        .col-sm-4
            h2 Create a Club
            p Become a football tycoon by designing your own team and even players. Drop them into the league of your choice.
            p
                a.btn.btn-default(href='#', role='button') View details »
        .col-sm-4
            h2 Fantasy Draft
            p Build your dream, fantasy squad and put them up against your friends or AI modelled famous fans.
            p
                a.btn.btn-default(href='#', role='button') View details »
        .col-sm-4
            h2 Join Now
            p Join now, and check it out for yourself, it doesn't cost a dime unless you want it to anyway, and you'll be up and playing in a couple of minutes!
            p
                a.btn.btn-default(href='/signup', role='button') Join Now »
