<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Football Manager
body
    <div id="head" class="jumbotron">
        <h1>Football Manager</h1>
            <p class="lead">Football Manager is a web application for football clubs, their players and managers around Europe.</p>
    </div>
    <div id="entries" class="row">
    <div class="col-md-4">
        <h2>Players</h2>
        <p>
            Information about all Players.
        </p>
        <p><a id="bPlayers" class="btn btn-default" href="#">View Players &raquo;</a></p>
    </div>
</div>
    <div id="content"></div>
    <div id="grid"></div>
    <div id="pager"></div>