extends _layout

block content
    .page-header
        h1 Football Manager
            p.lead Football Manager is a web application for football clubs, their players and managers around Europe
        .row.entity
            .col-md-4
                p
                    a.btn.btn-default(href='/footballPlayers', role='button') View details »
            .col-md-4
                p
                    a.btn.btn-default(href='/teams', role='button') View Teams »
            .col-md-4
                p
                    a.btn.btn-default(href='/coaches', role='button') View Coaches »
